{% extends 'base.html'  %}

{% block content %}

{% if g.user.collections|length > 14 %}

  <p>Sorry you have already reached the maximum number of collection folders you can store.</p>

{% else %}

<h1>Create you own collections of recipes!</h1>

  <form method="POST">

    {{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}


  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
  
    <a class="btn btn-secondary" href="/">Cancel</a>
    <button class="btn btn-success" type="submit">Create</button>
  
  </form>

{% endif %}

{% endblock %}