{% extends 'base.html'  %}

{% block content %}

<h1>
    My Collections <a href="/collections/new"><i class="fa-solid fa-file-circle-plus"></i></a>
</h1>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    {% if g.user.custom_recipes %}
    <div class="col">

        <div class="card my-3" style="width: 16rem; height: 15rem">
            <div class="card-body">
                <h5 class="card-title text-info">
                    <a href="/recipes/custom/show/own">Own Recipes</a>
                    
                </h5>
                <hr>

                <p class="card-text">
                    Contains my own recipes created on Cooking Master
                </p>

                <p>
                    Recipes: {{ g.user.custom_recipes|length }}
                </p>

                <p>
                    <a href="#" class="btn btn-sm btn-info disabled" role="button" aria-disabled="true"><i class="fas fa-pen-alt"></i></a>
                    <a href="#" class="btn btn-sm btn-danger disabled"role="button" aria-disabled="true"><i class="fas fa-trash"></i></a>
                </p>
                
            </div>
        </div>
    </div>
    {% endif %}

    {% for collection in collections %}
    <div class="col">
        
        <div class="card my-3" style="width: 16rem; height: 15rem">
            <div class="card-body">
                <h5 class="card-title text-info">
                    <a href="/collections/show/{{ collection.id }}">{{ collection.name }}</a>
                    
                </h5>
                <hr>
                <p class="card-text">
                    {{ collection.description }}
                </p>

                <p>
                    Recipes: {{ collection.saved_recipes|length }}
                </p>
                
                {% if collection.name != "All" %}
                <form style="display:inline;" action="/collections/delete/{{ collection.id }}" method="POST">
                    
                    <a href="/collections/edit/{{ collection.id }}" class="btn btn-sm btn-info "><i class="fas fa-pen-alt"></i></a>
                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    
                </form>
                {% else %}
                    
                    <a href="#" class="btn btn-sm btn-info disabled" role="button" aria-disabled="true"><i class="fas fa-pen-alt"></i></a>
                    <a href="#" class="btn btn-sm btn-danger disabled"role="button" aria-disabled="true"><i class="fas fa-trash"></i></a>

                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}