{% extends 'base.html'  %}

{% block content %}

<h1>Edit this recipe's rating or notes</h1>

<form method="POST">

    {{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}

      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}

    <p>
      <p>Your Collections</p>
      {% for collection in collections %}
      <input type="checkbox" value="{{ collection.id }}" id="{{ collection.id }}" 
      {% if collection in recipe.collections %}checked{% endif %} 
      name="collections">
      <label class="form-check-label" for="{{ collection.id }}">{{ collection.name }} </label>
      {% endfor %}
    </p>
  
    <a class="btn btn-secondary" href="/recipes/show/{{ recipe_id }}">Cancel</a>
    <button class="btn btn-success" type="submit">Save</button>
  
  </form>


{% endblock %}