{% extends 'base.html'  %}

{% block content %}

<h2>
    {{ title }}
    {% if recipe.made %}
        <i class="fa-solid fa-circle-check"></i> 
    {% endif %}

</h2>

<p>
    Prep Time: {{ time }} min | Servings: {{ servings }} 
</p>

<p>
    {% if recipe %}
        Your Rating: 
        {% if recipe.rating != 'Not rated yet' %}
            {% for star in range(recipe.rating|int) %}
            <span><i class="fa-solid fa-star"></i></span>
            {% endfor %}
        {% else %}
            {{ recipe.rating }}
        {% endif %}

    {% endif %}
</p>

<p>

    {% if g.user and not recipe %}
    
        {% if collections %}
        <a data-toggle="collapse" href="#favform" aria-expanded="false" aria-controls="favform">
            Add this recipe to your favourite collections!
        </a>
        
        <form class="collapse" id="favform" method="POST" action="/recipes/add/{{ recipe_id }}">
            <input type="hidden" id="title" name="title" value="{{ title }}">
            <input type="hidden" id="image" name="image" value="{{ image }}">
            
            <div class="form-group">
                {% for collection in collections %}
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox" value="{{ collection.id }}" id="{{ collection.id }}" 
                        {% if collection.name == "All" %}checked{% endif %}
                        {% if collection in recipe.collections %}checked{% endif %} 
                        name="collections">
                        <label class="custom-control-label" for="{{ collection.id }}"> {{ collection.name }}</label>
                    </div>

                {% endfor %}
            </div>       
            
            <button class="btn btn-info">Add</button>

        </form>
                
        {% endif %}
    {% endif %}

    
    {% if g.user and recipe %}
        <p>
            {% if recipe.collections %}
                {% if recipe.collections|length > 1 %}
                    Collections:
                {% else %}
                    Collection:
                {% endif %}
                {% for collection in recipe.collections %}
                    <a href="/collections/show/{{ collection.id }}" class="badge bg-warning">{{ collection.name }}</a>
                {% endfor %}
            {% else %}
                Saved but not in any collections
            {% endif %}
        </p>

        <form method="POST" action="/recipes/remove/{{ recipe_id }}">
            <a href="/recipes/edit/{{ recipe_id }}" class="btn btn-secondary">Edit</a>
            <button class="btn btn-info">Remove from Collections</button>
        </form>
    {% endif %}
</p>

<p>
    <img src="{{ image }}">
</p>

<br>

<p>
    <h3>Ingredients:</h3>

    <small>
        Measuring Unit: {{ g.user.measures }} (You can change your preference by clicking your username at the top right)
    </small>

    <p>
    {% for ing in ingredients %}
        {% if g.user.measures == 'Metric' %}
        <div>

            {% if ing['measures']['metric']['amount'] > 10 %}
                - {{ (ing['measures']['metric']['amount']/10)|round|int * 10 }} 
                {{ ing['measures']['metric']['unitShort'] }}
                {{ ing['name'] }}

            {% else %}
                - {{ (ing['measures']['metric']['amount'])}} 
                {{ ing['measures']['metric']['unitShort'] }}
                {{ ing['name'] }}

            {% endif %}

        </div>
        {% else %}
        <div>
            - {{ ing['measures']['us']['amount'] }} 
            {{ ing['measures']['us']['unitShort'] }}
            {{ ing['name'] }}
        </div>
        {% endif %}

    {% endfor %}
    </p>

</p>

<br>

<p>
    <h3>Instructions:</h3>
    {% for instruction in instructions %}
        <p>
            {{ instruction['name'] }}
        </p>


        {% for step in instruction['steps']%}
        <p>
            {{step['number']}}. {{ step['step']}}
        </p>
            
        {% endfor %}


    {% endfor %}

</p>

<br> 

<p>
    {% if g.user %}
        <h3>Your Notes:</h3>
        {% if recipe %}
            <p style="white-space: pre-wrap;">{{ recipe.notes }}</p>
        {% else %}
            <p>Save to favourites and add your own notes!</p>
        {% endif %}
    {% endif %}
</p>


{% endblock %}