{% extends 'base.html'  %}

{% block content %}

<h1>Saved Recipes</h1>
    {% if not g.user.saved_recipes %}
        <p>You don't have any saved recipes at the moment. </p>
        <p>Search recipes at the top and add them to your favourites!</p>  
    {% else %}
        <p>
            Sort by: Last Added
        </p>
        {% if g.user.saved_recipes|length > 8 %}
        <p>
            <a href="/recipes/show/saved">See All</a>
        </p>
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            
            {% for recipe in saved_recipes %}
            <div class="col my-3">
                <p>
                    <a href="/recipes/show/{{ recipe.recipe_id }}">
                        <img src="{{ recipe.image_url }}" width="250px" height="190px">
                    </a>
                </p>
                <div>
                    <a href="/recipes/show/{{ recipe.recipe_id }}"><b>{{ recipe.title }}</b></a>
                    {% if recipe.made %}
                        <i class="fa-solid fa-circle-check"></i> 
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if recipe.rating != 'Not rated yet' %}
                        {% for star in range(recipe.rating|int) %}
                        <span><i class="fa-solid fa-star"></i></span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if recipe.collections %}
                        {% if recipe.collections|length > 1 %}
                            Collections:
                        {% else %}
                            Collection:
                        {% endif %}
                        {% for collection in recipe.collections %}
                            <a href="/collections/show/{{ collection.id }}" class="badge bg-warning">{{ collection.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
        </div>
    {% endif %}

<hr>

<h1>
    Own Recipes <a href="/recipes/custom/create"><i class="fa-solid fa-file-circle-plus"></i></a>
</h1>

    {% if not g.user.custom_recipes %}
        <p>You haven't created any own recipes at the moment. </p>
        <p>
            <a href="/recipes/custom/create">Make your own recipes now!</a>
        </p>  
    {% else %}
        <p>
            Sort by: Last Added
        </p>
        {% if g.user.custom_recipes|length > 8 %}
        <p>
            <a href="/recipes/custom/show/own">See All</a>
        </p>
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        
            {% for recipe in custom_recipes %}
            <div class="col my-3">
                <p>
                    <a href="/recipes/custom/show/{{ recipe.id }}">
                        <img src="{{ recipe.image_url }}" width="250px" height="190px">
                    </a>
                </p>
                <div>
                    <a href="/recipes/custom/show/{{ recipe.id }}"><b>{{ recipe.title }}</b></a>
                    {% if recipe.made %}
                        <i class="fa-solid fa-circle-check"></i> 
                    {% endif %}
                    
                </div>
                <div class="form-group">
                    {% if recipe.rating != 'Not rated yet' %}
                        {% for star in range(recipe.rating|int) %}
                        <span><i class="fa-solid fa-star"></i></span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    Collection: <a href="/recipes/custom/show/own" class="badge bg-warning">{{ recipe.collection }}</a>
                </div>
            </div>
            {% endfor %}
            
        </div>
    {% endif %}


{% endblock %}