{% extends 'base.html'  %}

{% block content %}

<h1>Why Cooking Master?</h1>


<p>
    During the pandemic, dining options became limited due to restictions imposed on the restaurants. 
    People had to buy take-out or learn how to cook on their own.
    The site targets home cooks who are running out of ideas or looking for new dishes to make for their meals.
</p>

<p>
    Cooking Master utilizes the powerful Spoonacular API that enables site users to search and view thousands of recipes!
    By registering for an account, a user can also access the following main features:
</p>

<ul>
    <li>Search and save recipes to your collection</li>
    <li>Create collection folders to categorize saved recipes</li>
    <li>Make your own recipes </li>
    <li>Rate the recipes</li>
</ul>


<br>

<h1>How to use Cooking Master</h1>

<ol>
    <li>To simply find food recipes, begin by typing keywords at the top right search bar. No registeration is required.</li>
    <li>Register for an account to use Cooking Master's features mentioned above! </li>
    <li>Log in with your username and password.</li>
    <li>Search and save recipes!</li>
    <li>Use the "Recipes" tab in the navigation bar to view your recipes or create your own recipes.</li>
    <li>Use the "Collection" tab in the navigation bar to create your collection folders and categorize your recipes.</li>
</ol>

<br>

<h1>Experience Point System</h1>

<p>
    There is a point system that keeps track of a user's experience with the website and recipes. 
    The more experience points you receive, the higher level you become!
    Try to earn the title "Cooking Master" by making dishes from the recipes here!
</p>

<p>
    Click on your profile page to check what level you are in.
    All users start as newbies.
</p>

<p>
    You can gain experience points by performing different actions on the site:
</p>

<ul>
    <li>Add a recipe to your collection +1 point</li>
    <li>Add a collection folder +1 point</li>
    <li>Create your own recipe +4 points</li>
    <li>Make the dish! Check it off by editting the recipe +5 points</li>
</ul>

<p>Cooking Titles</p>

<ul>
    <li>Newbie: 0-4 points</li>
    <li>Amateur Cook: 5-10 points</li>
    <li>Junior Cook: 11-30 points</li>
    <li>Cook: 31-60 points</li>
    <li>Cooking Master!: >60 points</li>

</ul>


{% endblock %}