{% extends 'base.html'  %}

{% block content %}

<div class="row row-cols-2">
  <div class="col">

    <h1>Edit User's Info</h1>

    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden' 
            and field.name != 'password' %}
          <p>
          {{ field(placeholder=field.label.text, class="form-control") }}
          
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          </p>
        {% endfor %}

        
        

        <div class="edit-btn-area">
          <button class="btn btn-success">Save</button>
          <a href="/users/{{ user.id }}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
  </div>
</div>


    
{% endblock %}